@media screen and (max-width: 1024px) {

    h1{
        font-size: var(--heading1Mobile);
    }

    #about{
        flex-direction: column;
        gap: 20px;
    }

    .banner-heading{
        font-size: var(--bannerHeadingMobile);
    }

    .banner-heading2{
        font-size: var(--bannerHeadingMobile2);
    }
    .menu{
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        margin-top: 50px;
    }


    .text{
        width: 100%;
        margin-bottom: 30px;
    }
}